In [102]:
import requests
import os
from methods import twitch as tw
from methods import dataprocessing as dp
import pandas as pd
import datetime as dt

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
time, seere, seere_spg = tw.loop_through_games()
tester, tester_spg = dp.dataprocessing(dict = seere, dict_language = seere_spg, time = time)

In [115]:
tester

,game,2023-07-07 14:00:00,2023-07-07 19:00:00,2023-07-07 21:00:00
0,Dota 2,163402.0,54870.0,34268.0
1,League of Legends,146502.0,143937.0,142992.0
2,VALORANT,145644.0,176350.0,119688.0
3,Street Fighter 6,86360.0,18059.0,22165.0
4,Grand Theft Auto V,70179.0,116121.0,152198.0
...,...,...,...,...
64,Star Citizen,NaN,NaN,12293.0
65,Far Cry: Primal,NaN,NaN,11604.0
66,Food & Drink,NaN,NaN,8336.0
67,Jackbox Party Packs,NaN,NaN,9008.0
68,The Legend of Zelda: Tears of the Kingdom,NaN,NaN,7557.0